
body {
	
	background-color: #F8F8FF;


}

/* 
#col-xs-9 {
	background-color: #FFFAF0;
}
background-color: #FFFAF0; */

.profile-pic{

	
		border: 1px solid #ddd;
		border-radius: 10px;
		padding: 5px;
		width: 100px;
		height: 100px;
	  
}

img{

	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 5px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 10px;
	align-self: start;

}

 .container{


 background-color:#fff;



}
