
body {
	
	background-color: #F8F8FF;
	background: url(../image/image2.jpg);
	

}

/* 
#col-xs-9 {
	background-color: #FFFAF0;
}
background-color: #FFFAF0; */

.profile-pic{

	
		border: 1px solid #ddd;
		border-radius: 10px;
		padding: 5px;
		width: 100px;
		height: 100px;
	  
}

img{

	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 5px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 10px;
	align-self: start;
	margin-top: 10px;

}

 .container{


 background-color:#fff;
 padding-bottom: 50px;


 
  /* background: url(../image/img6.jpg); */
 

}

.file-field .medium .file-path-wrapper {
	height: 3rem;
	border-radius: 10px;


}
	.file-field .medium .file-path-wrapper .file-path {
	height: 2.8rem; }
	
	.task-description {

		border: 1px solid rgb(228, 194, 194);
		/* background-color: #fff; */
		padding: 20px;
		border-radius: 6px;
		box-shadow: 0px 0px 3px 1px;
	}






